$blue: #007bff;
$gray: #6c757d;

$sizes: (
  'xs': 425px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

%block-wrapper {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 12px;
}

@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}
