@use '../../styles/vars';

.header {
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  padding: 20px;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  margin-right: 10px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
  &:hover {
    color: vars.$blue;
  }
}

@include vars.media('max', 'xs') {
  .list {
    justify-content: center;
  }
}
