@use '../../../styles/vars';

.form {
  @extend %block-wrapper;
  flex-basis: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;

  & > .col {
    padding-right: 5px;
  }

  & > .col:nth-child(even) {
    padding-left: 5px;
  }
}

.rowButton {
  display: flex;
}

.col {
  flex: 0 0 50%;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.button {
  margin: 0 5px 10px;
  &:first-child {
    margin-left: 0;
  }
}

.win {
  background-color: #008000;
  &:hover {
    background-color: #006400;
  }
}

.lose {
  background-color: vars.$red;
  &:hover {
    background-color: #8b0000;
  }
}

.voice {
  justify-content: end;
}

@include vars.media('max', 'lg') {
  .form {
    flex-basis: 70%;
  }
}

@include vars.media('max', 'md') {
  .form {
    flex-basis: 80%;
  }
}

@include vars.media('max', 'xs') {
  .form {
    flex-basis: 100%;
  }
  .row {
    & > .col {
      flex-basis: 100%;
      padding: 0;
    }
    & > .col:nth-child(even) {
      padding: 0;
    }
  }
  .button {
    flex-basis: 50%;
  }
  .voice {
    width: 100%;
  }
}
